.n__bg {
    position: relative;
    background-image: url(../../assets/images/n__home__bg.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    background-position: 100% 100%;
    padding-top: 170px;
    .prosta{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .lft{
            backdrop-filter: blur(9px);
            background-color: hsla(0,0%,100%,.2);
            border-radius: 20px;
             box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.156);
            padding: 20px;
            max-width: 500px;
            button{
                background-color: rgba(239, 124, 0, 1);
                color: white;
                padding: 12px;
                border: none;
                border: 1px solid rgba(239, 124, 0, 1);
                border-radius: 5px;
                cursor: pointer;
                transition: .5s;
                &:hover{
                    border-radius: 25px;
                }
            }
            p{
                line-height: 1.5;
            }
        }
        .iconcha{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            cursor: pointer;
        }
    }
}
@media (max-width:550px) {
      .n__bg {
    position: relative;
    background-image: url(../../assets/images/n__home__bg.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    background-position: 100% 100%;
    padding-top: 170px;
    .prosta{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .lft{
            text-align: center;
            backdrop-filter: blur(10px);
            background-color: hsla(0,0%,100%,.2);
            border-radius: 20px;
             box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.156);
            padding: 20px;
            max-width: 500px;
            button{
                background-color: rgba(239, 124, 0, 1);
                color: white;
                padding: 12px;
                border: none;
                border: 1px solid rgba(239, 124, 0, 1);
                border-radius: 5px;
                cursor: pointer;
                transition: .5s;
                &:hover{
                    border-radius: 25px;
                }
            }
            p{
                line-height: 1.5;
            }
        }
        .iconcha{
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            cursor: pointer;
        }
    }
}
}