.S__text{
  text-align: center;
  span{
    color: #EF7C00;
  }
  margin-top: 35px;
  margin-bottom: 30px;
  h2{
    font-family: 'Montserrat';
  }
}

.S__Leangroup-yonga{
  display: flex;
  gap: 1px;
  align-items: center;
  .S__leangroup-left img{
    width: 97%;
  }
  .S__leangroup-right{
    width: 50%;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #2C2D2E;
  }
}


@media (max-width: 800px){
 .S__Leangroup-yonga{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  .S__leangroup-left img{
    width: 100%;
  }
  .S__leangroup-right{
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
}

}