.nav{
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.12);
  position: sticky;
  top: 0;
  left: 0;
  padding: 7px;
  z-index: 9999;
  .a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bb{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    button img{
      width: 20px;
      padding: 1px;
    }
    button{
      background: transparent;
      border: 1px solid gray;
      border-radius: 5px;
      cursor: pointer;
      display: none;
    }
    span{
      color: rgba(239, 124, 0, 1);
    }
    p{
      cursor: pointer;
    }
    .S__navv{
      display: flex; 
      justify-content: space-between;
      gap: 50px;      
      ul {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
      }
       .item{
          position: relative;
          a{
            color: black;
            transition: .5s;
            &:hover{
              color: rgba(239, 124, 0, 1);
            }
          }
          &:hover{
            .dropdown{
              opacity: 1;
            }
          }
          .dropdown{
              transition: .7s ease-out;
              padding: 10px;
              position: absolute;
              width: 170px;
              left: -50px;
              opacity: 0;
              background: #ffffff;
              line-height: 3px;
              border-radius: 3px;
               box-shadow: 0px 6px 2px -6px rgba(34, 60, 80, 0.35);
              &-item{
                padding: 10px 0px;
              }
              z-index: -1;
              display: flex;
              flex-direction: column;
              padding-top: 40px;
              li{
                font-size: 15px;
              }
          }
    }
  }
  .S__navv_responcive{
      display: flex; 
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      top: 80px;
      left: 0;
      position: fixed;
      background-color: white;
       box-shadow: 0px 6px 43px 2px rgba(34, 60, 80, 0.177);
       transition: .5s;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 64px;
      }
       .item{
          position: relative;
          a{
            color: black;
            transition: .1s;
            &:hover{
              color: rgba(239, 124, 0, 1);
            }
          }
          &:hover{
            .dropdown{
              opacity: 1;
            }
          }
          .dropdown{
              transition: .7s ease-out;
              padding: 10px;
              position: absolute;
              width: 170px;
              left: -50px;
              opacity: 0;
              background: #ffffff;
              line-height: 3px;
              border-radius: 3px;
               box-shadow: 0px 6px 2px -6px rgba(34, 60, 80, 0.35);
              &-item{
                padding: 10px 0px;
              }
              z-index: -1;
              display: flex;
              flex-direction: column;
              padding-top: 40px;
              li{
                font-size: 15px;
              }
          }
    }
  }
}
}


@media (max-width: 1040px) {
  .nav{
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.12);
  position: sticky;
  top: 0;
  left: 0;
  padding: 7px;
  z-index: 9999;
  .a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button img{
      width: 20px;
      padding: 1px;
    }
    button{
      background: transparent;
      border: 1px solid gray;
      border-radius: 5px;
      cursor: pointer;
      display: block;
    }
    span{
      color: rgba(239, 124, 0, 1);
    }
    p{
      cursor: pointer;
    }
    .S__navv{
      
      display: flex; 
      justify-content: space-between;
      gap: 50px;      
      ul {
        display: none;
        align-items: center;
        gap: 20px;
        cursor: pointer;
      }
       .item{
          position: relative;
          a{
            color: black;
            transition: .5s;
            &:hover{
              color: rgba(239, 124, 0, 1);
            }
          }
          &:hover{
            .dropdown{
              opacity: 1;
            }
          }
          .dropdown{
              transition: .7s ease-out;
              padding: 10px;
              position: absolute;
              width: 170px;
              left: -50px;
              opacity: 0;
              background: #ffffff;
              line-height: 3px;
              border-radius: 3px;
               box-shadow: 0px 6px 2px -6px rgba(34, 60, 80, 0.35);
              &-item{
                padding: 10px 0px;
              }
              z-index: -1;
              display: flex;
              flex-direction: column;
              padding-top: 40px;
              li{
                font-size: 15px;
              }
          }
    }
  }
  .S__navv_responcive{
      display: flex; 
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      top: 80px;
      left: 0;
      position: fixed;
      background-color: white;
       box-shadow: 0px 6px 43px 2px rgba(34, 60, 80, 0.177);
       transition: .5s;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 64px;
      }
       .item{
          position: relative;
          a{
            color: black;
            transition: .1s;
            &:hover{
              color: rgba(239, 124, 0, 1);
            }
          }
          &:hover{
            .dropdown{
              opacity: 1;
            }
          }
          .dropdown{
              transition: .7s ease-out;
              padding: 10px;
              position: absolute;
              width: 170px;
              left: -50px;
              opacity: 0;
              background: #ffffff;
              line-height: 3px;
              border-radius: 3px;
               box-shadow: 0px 6px 2px -6px rgba(34, 60, 80, 0.35);
              &-item{
                padding: 10px 0px;
              }
              z-index: -1;
              display: flex;
              flex-direction: column;
              padding-top: 40px;
              li{
                font-size: 15px;
              }
          }
    }
  }
}
}
}
