.n__nasha {
    .n__h1 {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        color: #2C2D2E;
        margin-top: 50px;
        .n__span {
            color: #EF7C00;
        }
    }

    .n__button {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        cursor: pointer;
        button {
            all: unset;
            background-color: transparent;
            border-radius: 20px;
            padding: 10px 20px;
            border: 1px solid #EF7C00;
            color: #2C2D2E;
            font-family: sans-serif;
            transition: .5s;
            &:hover {
                background-color: #EF7C00;
                color: white;
            }
        }
    }

    .n__images {
        div {
            overflow: hidden;
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 30px;
        gap: 30px;
        margin-bottom: 30px;
        justify-content: space-between;
        width: 100%;
        img {
            width: 100%;
            transition: .5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .n__buttonnechidir {
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        button {
            all: unset;
            background-color: transparent;
            border-radius: 5px;
            padding: 10px 20px;
            border: 1px solid #EF7C00;
            color: #2C2D2E;
            font-family: sans-serif;
            transition: .5s;
            &:hover {
                background-color: #EF7C00;
                color: white;
            }
        }
    }

}

@media (max-width: 635px) {    
.n__nasha {
    .n__h1 {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        color: #2C2D2E;
        margin-top: 50px;
        .n__span {
            color: #EF7C00;
        }
    }

    .n__button {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin-top: 20px;
        cursor: pointer;
        button {
            cursor: pointer;
            all: unset;
            background-color: transparent;
            border-radius: 20px;
            padding: 10px 20px;
            border: 1px solid #EF7C00;
            color: #2C2D2E;
            font-family: sans-serif;
            transition: .5s;
            &:hover {
                background-color: #EF7C00;
                color: white;
            }
        }
    }

    .n__images {
        div {
            overflow: hidden;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        gap: 30px;
        margin-bottom: 30px;
        justify-content: space-between;
        width: 100%;
        img {
            width: 100%;
            transition: .5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .n__buttonnechidir {
        text-align: center;
        margin-top: 20px;
        button {
            all: unset;
            background-color: transparent;
            border-radius: 5px;
            padding: 10px 20px;
            border: 1px solid #EF7C00;
            color: #2C2D2E;
            font-family: sans-serif;
            transition: .5s;
            &:hover {
                background-color: #EF7C00;
                color: white;
            }
        }
    }

}

}