*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left:  auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}